body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{background-color: #d55075;

}
.yellow{
    background-color: #fa903b;
}
.green{
    background-color: #58a0b9;
}
.purple{
    background-color: #7794f8;
}