*{
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
}
.main_box{
    height: 100vh;
    background: url(photo.jpg);
    background-size: cover;
}
.btn_one{
    font-size: 30px;
    font-weight: 700px;
    position: absolute;
    left: 10px;
    line-height: 60px;
    color: white;
}
.btn_two{
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    right: 20px;
    color: white;
    line-height: 60px;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100vh;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.5);
    height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 50px;
    color: white;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 70px;
    bottom: 50px;
    padding: 20px;
}
.sidebar_menu .social_media i{
    padding: 5px;
    opacity: 0.5;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;

}
li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.btn_two i:hover{
    font-size: 23px;
}
.social_media i:hover{
    font-size: 20px;
    opacity: 1;
}
#check{
    display: none;
}
#check:checked~ .sidebar_menu{
    left: 0;
}
#check:checked~ .btn_one{
    display: none;
}
