body {
    font-family: "Montserrat", system-ui;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000;
    width: 350px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0rem 1rem;
}

.music-player {
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    height: 100%;
    margin-top: 0.5rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lib-option img {
    width: 1.25rem;
    height: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    margin: 1.75rem 0 1.75rem 0;

}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.75rem;
    opacity: 0.9;
}

.badge {
    background-color: #fff;
    border-radius: 100px;
    border: none;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 2rem;
    width: fit-content;

}

.install {
    background-color: #000;
    color: #fff;
    border: 5px;
}

.profile {
    background-color: #000;
    color: #fff;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 10;
}

.as {
    color: #fff;
    background-color: #000;
    border-radius: 100px;
    padding: 5px;
}

@media (max-width:800px) {
    .as {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;

}

.card-container {
    display: flex;
    flex-wrap: wrap;

}

.card-img {
    width: 100%;
    border-radius: 0.5rem;


}

.card-title {
    font-weight: 700;
}

.card-info {
    font-size: 0.75rem;
    opacity: 0.7;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 50%;
    border-top: 1px solid #fff;
    opacity: 0.4;
}

.music-player {
    display: flex;

}

.album {
    width: 25%;
}

.player {
    width: 50%;
}

.control {
    width: 25%;
}

.plaback-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.player-control-icon {
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.5;

}

.progress-bar {
    width: 65%;
    appearance: none;
    background-color: transparent;


}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.album {
    margin: 0.8rem;
    /* display: flex;
    flex-direction: row; */
}

.now-playing {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    line-height: 3px;
}

.playing-img {
    height: 3rem;
    width: 3rem;
    border-radius: 0.2rem;
}

.title {
    font-size: 0.6rem;
    font-weight: 500;
    margin: 10px 5px 10px 5px;

}

.control {
    display: flex;
    justify-content: right;
    margin: auto;
    margin-right: 1rem;
    gap: 1rem;
}


.volume{
    -webkit-appearance: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    
}

.volume::-webkit-slider-runnable-track {
    background-color: #efeaea;
    border-radius: 100px;
    height: 0.2rem;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
}

  

